<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 30px" class="fas fa-shipping-fast"> </i>
      <strong>flipcart</strong>
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button class="btn btn-primary">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
    </button>
  </div>
</header>
